@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body{
  background-color: #F5F5F5;
}
/* start hero section */
.img-hero-section {
  background-image: url(../images/herosection.png);
  background-size: cover;
  height: 804px;
  position: relative;
  overflow: hidden;
}
.hero-text {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.hero-subtitle {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  line-height: 32.76px;

}
.hero-title {
  font-size: 48px;
  font-weight: 800;
  color: #fff;
  line-height: 65.37px;
}
.cover{
  background-color: #000;
  top: 0;
  opacity: 0.8;
  height: 100%;
  width: 100%;
  position: absolute;
}
/* end hero section */
/* start Our Mission section */
.our-mission-title {
  font-size: 34px ;
  font-weight: 700px;
  color: #000;
  line-height: 46.3px;
}
.card-our{
  background-color: #fff;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
  text-align: start;
  border: 1px solid #22222233;
  border-radius: 12px;
}
.our-title{
  font-size: 22px;
  font-weight: 700;
  color: #000;
  line-height: 32.76px;
}
.our-mission-text{
  font-size: 16px;
  font-weight: 400;
  color: #22222280;
  line-height: 21.84px;
}
.view-More{
  font-size: 16px;
  font-weight: 400;
  color: #D9176C;
  line-height: 21.84px;
}
/* end Our Mission section */
/* start conceit section */
.img-conceit-section {
  background-image: url(../images/bg-contact.jpeg);
  background-size: cover;
  height: 790px;
  position: relative;
 /* opacity: 30%; */
}
.cover-conceit {
  background-color: #3B2F4A;
  top: 0;
  opacity: 0.9;
  height: 100%;
  width: 100%;
  position: absolute;
}
.text-conceit{
  width: 100%;
 
}
.title-conceit{
  font-size: 40px ;
  font-weight: 700;
  color: #fff;
  line-height: 54.8px;
}
.subtitle-conceit{
  font-size: 24px;
  font-weight: 400;
  color: #FFFFFF80;
  line-height: 32.76px;
}
.form-section{
 position:apsolute;
  z-index: 1;
  margin-top: 2rem;
}
.input-conceit{
  width: 100%;
  background-color: transparent;
  border-radius: 10px;
  margin-top: 20px;
  padding: 16px;
  text-align: start;
  border: 1px solid #fff;
  border-radius: 12px;
  outline: none;
}
.btn-conceit{
  background-color: #D9176C;
  color:white;
  border: none;
  border-radius: 10px;
  padding: 12px 22px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  width: fit-content;
  text-align: center;

}
.icon-conceit{
  position: absolute;
  z-index: 1;
  
}
.icon-conceit-item{
  color: #D9176C;
  width: fit-content;
  font-size: 24px;
  border-radius:5px;
  width: 48px;
}
/* end conceit section */
/* start serves section */
.serves-title{
  font-size: 18px;
  font-weight: 700;
  color: #000;
  line-height: 46.3px;
}
.serves-text{
  font-size: 16px;
  font-weight: 400;
  color: #22222280;
  line-height: 21.84px;
}

.icon-serves{
  color:#22222280;
}
/* end serves section */
@media (max-width: 768px) {
  .hero-title {
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
  }
  .hero-subtitle {
    font-size: 1rem;
    width: 100%;
    text-align: center;
    padding: 0 ;
    
  }
  .our-title {
    font-size: 1.25rem;
    width: 100%;
  }
  .our-mission-text {
    font-size: 0.875rem;
    width: 100%;
  }
  .title-conceit {
    font-size: 1.5rem;
    width: 100%;
  }
  .subtitle-conceit {
    font-size: 1rem;
    width: 100%;
  }
  .serves-title {
    font-size: 1.25rem;
    width: 100%;
  }
  .serves-text {
    font-size: 0.875rem;
    width: 100%;
  }
  .icon-conceit{
    display: none;
  }
}